* {
  box-sizing: border-box;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.title {
  margin: 10px auto;
  font-size: 2rem;
}

.textarea {
  width: 700px;
  height: 300px;
  margin: 10px auto 10px;
  padding: 10px;
}

.keyboard {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: auto;
  margin: 0 auto;
  padding: 0 5px 5px 5px;
  background: #00c3ff;
  border: 3px solid #222222;
  border-radius: 5px;
}

.row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 5px;
  gap: 5px;
}

.button {
  flex: 1;
  padding: 5px;
  border-radius: 3px;
  cursor: pointer;
  user-select: none;
  background-color: rgb(0, 255, 242);
  box-shadow: 5px 5px 2px rgba(0,0,0,0.3);
}

.button:hover {
  background-color: rgb(255, 146, 21);
  transform: scale(1.01);
  box-shadow: 0px 0px 5px rgba(0,0,0,0.3), 0 0px 5px #fff, 0 0 10px #38eeff, 0 0 50px #38eeff;
}

.button:active,
.keydown {
  background-color: rgb(255, 146, 21);
  transform: scale(0.95);
  box-shadow: 0px 0px 5px rgba(0,0,0,0.3), 0 0px 5px #fff, 0 0 10px #38eeff, 0 0 50px #38eeff;
  border-radius: 6px;
}

.Backspace,
.ShiftLeft,
.ShiftRight,
.Enter {
  flex: 3;
}

.Tab,
.CapsLock,
.Delete {
  flex: 2;
}

.ControlLeft,
.ControlRight,
.Win,
.AltLeft,
.AltRight {
  flex: 1.4;
}

.Space {
  flex: 9;
}

.description,
.language {
  margin: 10px auto;
  text-align: center;
}

.massage_container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
}
